body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #2f3133;
}

/* Header section goes here*/
header {
    background-color: #ffffff;
    padding: 1rem 2vw;
    display: flex;
    align-items:flex-end;
}

header div {
    padding-left: .01vw;
    }

header h1 {
    margin: 0;
    color: #09a603;
}
header p {
    margin: 0;
    color: #09a603;
    letter-spacing: 5px;
}

/* Nav section goes here*/

/* Small screens */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px rgb(233, 230, 230);
        color: #04b2d9;
    }

    nav .active a {
        background-color:#04b2d9;
        background-image: linear-gradient(to bottom, #04b2d9, #04809c);
        color: white;
    }
    } 
    /*end of the media query*/
    
    /* BIG screens*/
    @media only screen and (min-width: 801px) {
        #navbar {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #04b2d9;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0 2vw;
            margin: 0;
            display: flex;
            
        }
        
        nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        display: block;
        padding: 0.83rem 2rem ;
        }
        
        nav li.active a {
            background-color: #b40412;
        }
        
        nav a:hover {
            background-color: #09a603;
        }
    } 
    /*Big screens end*/

/*Main section goes here*/
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #b40412;
}

main h2 {
    color: #b40412;
    margin-bottom: 0.2rem;
}

main p {
    color: #2f3133;
    margin: 0 0 0.3rem 0;
}

main ol {
    padding: 0.5rem 3vw;
    background-color: #b40412;
    color: #ffffff;
    font-weight:500;
    border-radius: 0.5rem;
    width: 16.5rem;
}

main dl dt {
color: #b40412;
font-weight: 700;
font-size: large;
}

main dl dd {
color: #024373;
font-size: large;
}

main ul {
    list-style-type: circle;
    color: #024373;
}

main ul li {
line-height: 125%;
margin-bottom: 0.5rem;
font-size: 0.9rem;
}

main address {
    font-style: normal;
    background-color: #b40412;
    color: #ffffff;
    padding: 0.5rem;
    width: 15.5rem;
    border-radius: 0.5rem;
}

main a {
    color: #ffffff;
}

main a:hover {
    color: #09a603;
}
div.center-text {
    display: inline-block;
    height: 425px;
    width: 1300px;
}
div.center-text div {
    float: left;
    margin-right: 300px;
}

.jjhero {
    width: 100%;
    margin: 0;
}

.jjhero img {
    width: 100%;
    height: auto;
}

figure.kids {
    width: 20%;
    margin: 0 0 0 2%;
    float: right;
}

figure.kids img {
    width: 100%;
    height: auto;
}


figure.kids figcaption {
    text-align: center;
    font-size: .75rem;
    color: #09a603
}

figure.chemist {
    width: 300px;
    margin: 0 0 0 2%;
    float: left;
}

figure.chemist img {
    width: 100%;
    height: auto;
}


figure.chemist figcaption {
    text-align: center;
    font-size: .75rem;
    color: #09a603
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
margin: 0.5rem 2% 0 0;

}

div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

div.gallery figure img {
    height: 300px;
    width: auto;
    }

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #09a603;
}

/*Form goes here*/

.Form fieldset {
    border: 1px solid #09a603;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.Form legend {
    color: #09a603;
font-size: 1rem;
font-weight: bold;

}

.Form {
    margin: 1rem;
}

.Form label, .Form select, .Form [type=text], .Form [type=email], .Form [type=tel], .Form textarea {
display: block;
margin-bottom: 10px;
}

.Form label input, .Form label select, .Form label textarea {
    margin-top: 5px;
}


.Form [type=text], .Form [type=tel], .Form select, .Form [type=email], .Form textarea {
border: solid 1px #888;
padding: .4rem;
width: 250px;
border-radius: .3rem;
font-family: 'Ubuntu', sans-serif;
font-weight: 200;
}

.Form textarea {
    height: 6rem;
}

.Form :required {
    background-color: #04b2d91c;
}

.Form [type=submit] {
    background-color: #09a603;
    border: none;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 1rem 0 0 .2vw;
}

/* Thanks page goes here*/

#thanks h1, #thanks h2{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: #09a603
    
}

#thanks {

    margin: 300px 0;
}

/* Footer goes here*/
footer {
    background-color: #04b2d9;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 1rem 0;
    font-size: 0.8rem;
    }

footer a {
    color: #ffffff;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}